@import 'grid';

$page-background: rgb(122, 183, 215);
$player-1-color: rgba(255,0,0,1);
$player-1-color-dimmed: rgba(255,0,0,0.5);
$player-2-color: rgba(255,255,0,1);
$player-2-color-dimmed: rgba(255,255,0,0.5);
$piece-diameter: 56px;
$piece-diameter-tiny: 30px;

body {
  background: $page-background;
  font-family: helvetica, sans-serif;
  padding:20px;
}

* {
  margin: 0px;
  padding: 0px;
  color: white;
  box-sizing: border-box;
}


h1 {
  text-align: center;
  font-size: 3em;
}

p {
  padding-top: 20px;
  line-height: 180%;
  font-size: 0.9em;
}

#gameboard td {
  border-radius: 100px;
  border: 4px solid white;
  // piece-diameter should be dynamic so it smoothly scales
  width:$piece-diameter;
  height:$piece-diameter;
  @include size-class(phone) {
    border: 3px solid white;
    width: $piece-diameter-tiny;
    height: $piece-diameter-tiny;
  }
}

#gameboard td:hover {
  // background color should be dynamic, not hard-coded
  background:$player-1-color-dimmed;
}

// buttons and text inputs share most of the same styles
@mixin boxy {
  padding: 10px;
  // margin: 10px;
  color: white;
  border: 2px solid white;
  border-radius:3px;
  background: none;
  font-size: 0.9em;
}


// Form Label and Input
label {
  font-size: 1em;
  text-transform: uppercase;
}

input {
  @include boxy;
  // display: block;
  width: 100%;
}

::-webkit-input-placeholder {
  color:white;
}

[class*="focus-"] {
  outline: none;
}

.focus-player-1:focus {
  border: 2px solid $player-1-color;
}

.focus-player-2:focus {
  border: 2px solid $player-2-color;
}

.player-1-text {
  color: $player-1-color;
}

.player-2-text {
  color: $player-2-color;
}

.player-1-background {
  background: $player-1-color;
}

.player-2-background {
  background: $player-2-color;
}

// Buttons look very similar to the form inputs, both are boxy

.button{
  @include boxy;
  text-align: center;
}

.button-green:hover {
  border: 2px solid green;
}

.button-yellow:hover {
  border: 2px solid yellow;
}

.button-red:hover {
  border: 2px solid red;
}

